@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  margin: 5rem;
  font-family: "Raleway", sans-serif;
}

input {
  margin-bottom: 1rem;
}

.dashboard {
  width: 30rem;
  padding: 2rem;
}
